/* :root {
    --color-background-00: #000;
    --color-background-01: #2e2e2e;
    --color-background-02: #4e4e4e;

    @media (prefers-color-scheme: dark) {} 
}*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", "Roboto", Arial, Helvetica, sans-serif;
    color: #111;
}

body {
    padding-bottom: 600px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

img [src$=".jpeg"] {
    border-radius: 4px;
}