.header-bg {
    background: var(--cor-12);
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.header-menu a {
    display: inline-block;
    padding: 15px 0px;
    border-radius: 4px;
    color: var(--cor-00);
    transition: 0.3s;
    /* font-size: 1rem; */
    position: relative;
    /* font-family: "Poppins";
    font-weight: 400; */
}

.header-menu a:after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background: var(--cor-00);
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
}

.header-menu a:hover::after,
.header-menu a.ativo::after {
    width: 100%;
    /* background: #2e2e2e; */
}

@media (max-width: 800px) {
    * .header-menu {
        gap: 10px
    }

    .header-menu a {
        /* background: #111111; */
        background: var(--cor-11);
        padding: 15px 10px;
    }

    .header-menu a:hover {
        background: var(--cor-10);
        /* background: #4e4e4e; */
    }

    .header a:after {
        display: none;
    }
}

/*@media (max-width: 600px) {
     .header-menu {
        gap: 20px
    } 

    .header-menu a {       
        padding: 15px 10px;
        border-radius: 4px;
    }
}*/